.header{
    padding: 10px 30px;
    justify-content: space-between;
    margin-bottom: 5px;
}
.heading{
    font-size: 26px;
    color: var(--heading_color);
}
.movie-filter{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}
.movie-filter-item{
    padding: 5px 10px;
    cursor: pointer;
}
.movie-filter-item.active {
    border-bottom: 1px solid #e6e6e6;
    font-weight: bolder;
}
.movie-sorting{
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-family: inherit;
    height: 30px;
    padding: 0 5px ;
    margin: 0 10px;
}
.movie-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}